@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <i class="oi oi-heart"></i>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
