@page "/tables"
@using DemoBlazorApp.Components.tables;

<h3>Tables</h3>

<select class="custom-select shadow-sm" @onchange="OnTableSelection">
    <option value="0">--Select Table Type--</option>
    @foreach (var table in tables)
    {
        <option value="@table.Id">@table.Name</option>
    }
</select>
<br />
<br />
@if(SelectedTable != null && SelectedTable.Id != 0)
{
    @*<div>@SelectedTable.Name</div>*@
    <TableComponent SelectedTableType="@SelectedTable"></TableComponent>
}