@page "/tables"
@using DemoBlazorApp.Components.tables;

<h3>Tables</h3>

<select class="custom-select" @onchange="OnTableSelection">
    <option value="none">--Select Table Type--</option>
    @foreach (var table in tables)
    {
        <option value="@table.Id">@table.Name</option>
    }
</select>
<br />
<br />
@if(SelectedTable.Id != 0)
{
    <div>@SelectedTable</div>
    <TableComponent SelectedTableType="@SelectedTable"></TableComponent>
}