@page "/tables"
@using DemoBlazorApp.Components.tables;

<h3>Tables</h3>

<select class="custom-select shadow-sm" @onchange="OnTableSelection">
    <option value="0">--Select Table Type--</option>
    @foreach (var tableType in TableTypes)
    {
        <option value="@tableType.Id">@tableType.Name</option>
    }
</select>
<br />
<br />
@if(SelectedTableType != null && SelectedTableType.Id != 0)
{
    @*<div>@SelectedTable.Name</div>*@
    <TableComponent SelectedTableType="@SelectedTableType"></TableComponent>
}