@page "/users"

<h3>Users</h3>

@if (userApiResponse != null && userApiResponse.Results.Length > 0)
{

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userApiResponse.Results)
            {
                <tr>
                    <td>
                        @user.Id.Value
                    </td>
                    <td>
                        @($"{user.Name.First} {user.Name.Last}")
                    </td>
                    <td>
                        @user.Email
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

